<div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
  <h1><%= t '.title' %></h1>
  <div class="w-100"></div>
  <%= link_to t('.create'), new_admin_event_path, class: 'btn btn-success ml-auto' %>
</div>
<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><%= t '.conditions' %></a>
<div class="collapse" id="collapseSearch">
  <div class="card my-2">
    <div class="card-body">
      <ul class="nav nav-pills" role="tablist">
        <%= nav_params_li t('.all'), admin_events_path, check_params: { status: '' } %>
        <%= nav_params_li t('.registration'), admin_events_path(status: :registration), check_params: { status: :registration } %>
        <%= nav_params_li t('.running'), admin_events_path(status: :running), check_params: { status: :running } %>
        <%= nav_params_li t('.closed'), admin_events_path(status: :closed), check_params: { status: :closed } %>
      </ul>
      <%= search_form_for @q, url: admin_events_url, class: 'form-inline my-2 mx-5' do |f| %>
        <%= hidden_field_tag :status, params[:status] %>
        <%= f.label Event.human_attribute_name(:name), class: 'mr-1' %>
        <%= f.search_field :name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= f.label Event.human_attribute_name(:nature), class: 'mr-1' %>
        <%= f.search_field :nature_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= link_to t('.clear'), admin_events_path, class: 'btn btn-outline-secondary ml-auto' %>
        <%= f.button t('.submit'), class: 'btn btn-outline-secondary mx-2' %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @events %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Event.human_attribute_name :name %></th>
      <th><%= Event.human_attribute_name :participants_count %></th>
      <th><%= Event.human_attribute_name :time %></th>
      <th><%= t '.more' %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.participants_count %> / <%= event.max_sign_up_number %></td>
        <td><%= l event.sign_up_begin %> ~ <%= l event.sign_up_end %></td>
        <td><%= link_to t('.show'), admin_event_path(event), class: 'btn btn-light' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>
