<%= simple_form_for [:admin, @schedule] do |f| %>
  <%= f.error_notification %>
  <%= f.association :team, collection: Service::Team.all.pluck(:name, :id), prompt: :translate %>
  <%= f.input :service_time %>
  <%= f.button :submit, data: { disable_with: t('.submitting') } %>
<% end %>
