<div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
  <h1><%= t '.title' %></h1>
  <div class="w-100"></div>
  <%= link_to t('.create'), new_admin_service_role_path, class: 'btn btn-success ml-auto' %>
</div>
<a class="btn btn-primary my-2" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><%= t '.conditions' %></a>
<div class="collapse" id="collapseSearch">
  <div class="card my-2">
    <div class="card-body">
      <%= search_form_for @q, url: admin_service_roles_url, class: 'form-inline my-2 mx-5' do |f| %>
        <%= f.label Service::Role.human_attribute_name(:name), class: 'mr-1' %>
        <%= f.search_field :name_cont, class: 'form-control mr-2' %>
        <div class="w-100 my-1"></div>
        <%= link_to t('.clear'), admin_service_roles_path, class: 'btn btn-outline-secondary ml-auto' %>
        <%= f.button t('.submit'), class: 'btn btn-outline-secondary mx-2 ml-1' %>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @roles %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th><%= Service::Role.human_attribute_name(:name) %></th>
      <th><%= t '.more' %></th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td>
          <%= link_to t('.show'), admin_service_role_path(role), class: 'btn btn-light' %>
          <%= link_to t('.edit'), edit_admin_service_role_path(role), class: 'btn btn-warning' %>
          <%= link_to t('.destroy'), admin_service_role_path(role), class: 'btn btn-danger', method: :delete, data: { confirm: t('.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @roles %>
