<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= link_to t('.title'), events_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= t '.title' %></h1>
  <p class="lead text-center"><%= t '.subtitle' %></p>
<% end %>
