<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= link_to t('.title'), contact_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= t '.title' %></h1>
  <p class="lead text-center"><%= t '.subtitle' %></p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 d-flex flex-wrap justify-content-between my-2">
      <h2><%= t '.name' %></h2>
      <div class="w-100"></div>
      <address><%= t '.address' %></address>
      <div class="w-100"></div>

      <h3><%= t '.worship_time' %></h3>
      <div class="w-100"></div>
      <p><%= t '.worship._' %></p>
      <p><%= t '.worship.time' %></p>
      <div class="w-100"></div>
      <p><%= t '.youth_fellowship._' %></p>
      <p><%= t '.youth_fellowship.time' %></p>
      <div class="w-100"></div>

      <h3><%= t '.contact_ways' %></h3>
      <div class="w-100"></div>
      <p><%= t '.tel._' %></p>
      <p><%= t '.tel.number' %></p>
      <div class="w-100"></div>
      <p><%= t '.fax._' %></p>
      <p><%= t '.fax.number' %></p>
      <div class="w-100"></div>
      <p><%= t '.tax._' %></p>
      <p><%= t '.tax.number' %></p>
      <div class="w-100"></div>
      <p><%= t '.email._' %></p>
      <%= mail_to t('.email.url') %>
      <div class="w-100"></div>

      <h3><%= t '.social_media' %></h3>
      <div class="w-100"></div>
      <p><%= t '.website' %></p>
      <%= link_to root_url, root_path %>
      <div class="w-100"></div>
      <p><%= t '.facebook._' %></p>
      <%= link_to t('.facebook.url'), t('.facebook.url') %>
      <div class="w-100"></div>
      <p><%= t '.youtube._' %></p>
      <%= link_to t('.youtube.url'), t('.youtube.url') %>
      <div class="w-100"></div>
      <p><%= t '.line@._' %></p>
      <%= link_to t('.line@.url'), t('.line@.url') %>
    </div>
    <div class="col-md-12 col-lg-6 my-2">
      <%= t '.google_map_html' %>
    </div>
  </div>
  <hr>
  <h2><%= t '.contact_form.title' %></h2>
  <p class="text-muted"><%= t '.contact_form.subtitle' %></p>
  <%= render 'contacts/form' %>
</div>
</div>
