<%
description t('.seo.desc')
set_meta_tags og: {
  title: t('.seo.title'),
  image: t('.seo.img_url'),
  description: t('.seo.desc')
}
%>
<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4"><%= t '.title' %></h1>
  <p class="lead mt-4"><%= t '.lead' %></p>
  <p class="lead"><%= t '.desc' %></p>
<% end %>
<div class="card-deck">
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title"><%= t '.announcement.title' %></h2>
      <p class="card-text"><%= t '.announcement.desc' %></p>
    </div>
    <div class="card-body">
      <%= link_to t('.announcement.link'), announcements_path, class: 'btn btn-light btn-block' %>
    </div>
  </div>
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title"><%= t '.social_media.title' %></h2>
      <p class="card-text"><%= t '.social_media.desc' %></p>
    </div>
    <div class="list-group list-group-flush">
      <%= link_to t('.social_media.facebook._'), t('.social_media.facebook.url') , class: 'btn btn-light list-group-item' %>
      <%= link_to t('.social_media.youtube._'), t('.social_media.youtube.url'), class: 'btn btn-light list-group-item' %>
      <%= link_to t('.social_media.line._'), t('.social_media.line.url'), class: 'btn btn-light list-group-item' %>
    </div>
  </div>
  <div class="w-100 d-lg-none"></div>
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title"><%= t '.event.title' %></h2>
      <p class="card-text"><%= t '.event.desc' %></p>
    </div>
    <div class="card-body">
      <%= link_to t('.event.link'), events_path, class: 'btn btn-purple btn-block' %>
    </div>
  </div>
  <div class="card outline-purple text-center my-4">
    <div class="card-body">
      <h2 class="card-title"><%= t '.account.title' %></h2>
      <p class="card-text"><%= t '.account.desc' %></p>
    </div>
    <div class="list-group list-group-flush">
      <%= link_to t('.account.events'), account_events_path, class: 'btn btn-light list-group-item' %>
      <%= link_to t('.account.profile'), account_profile_path, class: 'btn btn-light list-group-item' %>
      <%= link_to t('.account.edit'), edit_user_registration_path, class: 'btn btn-light list-group-item' %>
    </div>
  </div>
</div>
