<%= simple_form_for([:admin, @announcement]) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :content, as: :pagedown, input_html: { preview: false, rows: 20 } %>
  <%= f.button :submit, data: { disable_with: t('.submitting') } %>
<% end %>
