/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "variables";
@import 'bootstrap/scss/bootstrap';
@import "font-awesome";
@import "pagedown_bootstrap";
@import "github-markdown";
@import "sidebar";
@import "admin";
$iframe_width: 500px;
$iframe_height: $iframe_width * 9 / 16;

main {
  min-height: 360px;
}

.bg-black-opacity04{
  background-color: rgba(0,0,0,0.4);
}

.jumbotron-bg {
  border-radius: 0;
  background-image: image-url("banner.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: $white;

  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  @include media-breakpoint-down(xs) {
    h1 {
      font-size: 36px;
    }
  }
}

.event-card {
  border-radius: 10px;
  color: var(--dark);
  border-color: var(--dark);
  background-color: var(--white);

  &:hover {
    color: var(--white);
    background-color: var(--secondary);

    .card-text {
      color: var(--light);
    }
  }
  .card-body {
    height: 250px;
    overflow: auto;
  }
  @include media-breakpoint-up(md) {
    .card-body {
      height: 350px;
      overflow: auto;
    }
  }
}

.no_ {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
