<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag 'brand.png', height: 30 %>
    <%= t('.brand') %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav ml-auto">
      <%= nav_li fa_icon('futbol-o', text: Event.model_name.human), events_path %>
      <%= nav_li fa_icon('bullhorn', text: Announcement.model_name.human), announcements_path %>
      <% if user_signed_in? %>
        <%= nav_li(fa_icon('tachometer', text: t('.backstage')), admin_path) if is_admin? %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon('user', text: t('.account._')) %>
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to fa_icon('flag', text: t('.account.events')), account_events_path, class: "dropdown-item" %>
            <%= link_to fa_icon('address-card', text: t('.account.profile')), account_profile_path, class: "dropdown-item" %>
            <%= link_to fa_icon('gear', text: t('.account.edit')), edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to fa_icon('sign-out', text: t('.log_out')), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <%= nav_li fa_icon('user-plus', text: t('.sign_up')), new_user_registration_path %>
        <%= nav_li fa_icon('sign-in', text: t('.log_in')), new_user_session_path %>
      <% end %>
    </ul>
  </div>
</nav>
